# CoreClientHandler.RENDER_TYPE_LINES_XRAY (Spectacles block highlighting)
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_LINES_SHADER
public net.minecraft.client.renderer.RenderStateShard$LineStateShard
public net.minecraft.client.renderer.RenderStateShard VIEW_OFFSET_Z_LAYERING
public net.minecraft.client.renderer.RenderStateShard TRANSLUCENT_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard OUTLINE_TARGET
public net.minecraft.client.renderer.RenderStateShard COLOR_WRITE
public net.minecraft.client.renderer.RenderStateShard NO_CULL
public net.minecraft.client.renderer.RenderStateShard NO_DEPTH_TEST

# Boat.checkFallDamage
public net.minecraft.world.entity.vehicle.Boat status
public net.minecraft.world.entity.vehicle.Boat lastYd

# ModuleApiculture.modifySnifferLoot
public-f net.minecraft.world.level.storage.loot.LootPool entries

# RefractoryWaxParticle#createParticle
public net.minecraft.client.particle.GlowParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDDDDLnet/minecraft/client/particle/SpriteSet;)V

# RecipeUtils.getRecipe
public net.minecraft.world.item.crafting.RecipeManager byType(Lnet/minecraft/world/item/crafting/RecipeType;)Ljava/util/Collection;

# BackpackResupplyHandler.topOffPlayerInventory
public net.minecraft.world.entity.player.Inventory hasRemainingSpaceForItem(Lnet/minecraft/world/item/ItemStack;Lnet/minecraft/world/item/ItemStack;)Z

# BlockExtendedLeaves.tick
public net.minecraft.world.level.block.LeavesBlock updateDistance(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/LevelAccessor;Lnet/minecraft/core/BlockPos;)Lnet/minecraft/world/level/block/state/BlockState;

# For using the cached array instead of cloning every time
public net.minecraft.core.Direction VALUES

# ForestryFeaturesProvider.commonOrePlacement
public net.minecraft.data.worldgen.placement.OrePlacements commonOrePlacement(ILnet/minecraft/world/level/levelgen/placement/PlacementModifier;)Ljava/util/List; # commonOrePlacement
